window {
    font-family: monospace;
    font-size: 20pt;
    background-color: rgba(30, 30, 46, 0.5);
}

button {
    color: #cdd6f4; /* text */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    /*border: none;*/
    border-style: solid;
    border-width: 1px;
    border-color: #cdcdcd;
    background-color: rgba(30, 30, 46, 0.1);
    margin: 5px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(49, 50, 68, 0.1);
}

button:focus {
    background-color: #cba6f7;
    color: #1e1e2e;
}
