services:
  cozy-stack-couchdb:
    image: couchdb:latest
    container_name: cozy-stack-couchdb
    # networks:
    #   - cozy-stack
    environment:
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
    ports:
      - "5984:5984"
    volumes:
      - ./volumes/couchdb/data:/opt/couchdb/data

  cozy-stack:
    image: cozy/cozy-stack:latest
    container_name: cozy-stack
    # networks:
    #   - cozy-stack
    ports:
      - "0.0.0.0:8080:8080"
      - "0.0.0.0:6060:6060"
    environment:
      COUCHDB_HOST: cozy-stack-couchdb
      COUCHDB_USER: admin
      COUCHDB_PASSWORD: password
      COZY_HOST: 0.0.0.0
      COZY_ADMIN_HOST: 0.0.0.0
      COZY_COUCHDB_URL: http://admin:password@host.docker.internal:5984
      COZY_FS_URL: file:///var/lib/cozy
      COZY_ADMIN_PASSPHRASE: password
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./volumes/cozy-stack/data:/var/lib/cozy
      - ./volumes/cozy-stack/config:/etc/cozy/
    depends_on:
      - cozy-stack-couchdb

# networks:
#   cozy-stack:
#     name: cozy-stack
